<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobeedom.android.auto.jyhuremote">

    <uses-permission android:name="android.permission.DUMP"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShowRecents"
            android:label="@string/toggle_recents"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/volume_control"
            android:icon="@drawable/ic_remote"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".services.HUService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.HUIntentService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fyt.boot.ACCON"/>

                <action android:name="com.mobeedom.android.hu.VOL_UP"/>
                <action android:name="com.mobeedom.android.hu.VOL_DOWN"/>
                <action android:name="com.mobeedom.android.hu.VOL_MUTE_SWITCH"/>
                <action android:name="com.mobeedom.android.hu.VOL_LEVEL"/>
                <action android:name="BT_STANDARD_BROADCAST_CMD"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.ToggleService"
            android:enabled="true"
            android:exported="false"
            android:label="Toggle Recents HU"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".services.jobs.PingerService"
            android:label="Word service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>